*.aux
*.dcf
*.html
*.log
*.nav
*.out
*.snm
*.rds
*.synctex.gz
*.toc
*.vrb
.DS_Store
.Rapp.history
.Rhistory
Rignore/local/
Rignore/method/method.pdf
Rignore/poster-jsm2014/poster.pdf
Rignore/slides/slides.pdf
